@import '~antd/dist/antd.css';

.App{
  width: 100%;
  overflow: hidden;
  position: relative;
}
#surround-form{
  margin: 10px;
}

#surround-landing{
  margin: 10px;
  text-align: center;
}

.login-form-button{
  margin-right: 5px;
}

.register-form-button{
  margin-right: 5px;
}
.landing-button{
  height: 4rem;
  margin: 5px;
}

.ant-card-head{
  padding: 0 12px;
}
.ant-card{
  max-height: 640px;
}